
services:
  db:
    image: postgis/postgis:15-3.4
    container_name: organizations_db
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: organizations

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: organizations_api
    restart: always

    depends_on:
      - db

    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: organizations

    ports:
      - "8000:8000"

volumes:
  postgres_data: