[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.133.1",
    "geoalchemy2>=0.18.3",
    "sqlalchemy>=2.0.47",
    "uvicorn>=0.41.0",
]
